PUBLIC_BASE_URL=
ASSET_OUTPUT_DIR=generated_assets
MODEL_CACHE_DIR=.model_sources
IMAGE_GENERATOR=zimage-q4
MODEL_3D=trellis2-fast
BACKGROUND_REMOVAL_MODEL=birefnet-general
IMAGE_TIMEOUT_SECONDS=600
PIXAL3D_TIMEOUT_SECONDS=1800
TRELLIS_TIMEOUT_SECONDS=1800
INSTANTMESH_TIMEOUT_SECONDS=1800
LOG_LEVEL=INFO
