PUBLIC_BASE_URL=
ASSET_OUTPUT_DIR=generated_assets
MODEL_CACHE_DIR=.model_sources
IMAGE_TIMEOUT_SECONDS=600
TRELLIS_TIMEOUT_SECONDS=1800
LOG_LEVEL=INFO
MESH_SIMPLIFICATION=true
SIMPLIFICATION_ERROR=0.0009
TEXTURE_SIMPLIFICATION=true
MAX_TEXTURE_SIZE=1024