PUBLIC_BASE_URL=
ASSET_OUTPUT_DIR=generated_assets
MODEL_CACHE_DIR=.model_sources
PIPELINE_PROFILE=auto
HUNYUAN_TIMEOUT_SECONDS=300
IMAGE_TIMEOUT_SECONDS=600
PIXAL3D_TIMEOUT_SECONDS=1800
TRELLIS_TIMEOUT_SECONDS=1800
LOG_LEVEL=INFO
